/BufferedReader.class
/CommmandToCompile.txt
/DFA.class
/ICode.class
/MyCompiler.java
/MyLexer.java
/Parser.class
/ParserVal.class
/ParserVal.java
/project7.tab.java
/Symbol.class
/SymbolTable.class
/Token.class
/y.output
/y.tab.c
